* {
  box-sizing: border-box;
}

body {
  font-family: sniglet, sans-serif;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

header {
  background-color: #18b2ff;
  padding: 24px;
  text-align: center;
  font-size: 35px;
  color: white;
}



 /* If on mobile turn make it fit or something lol - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}

#main {
  transition: margin-left .5s;
}

.sidenav {
  position: relative;
  float: left;
  left: 0;
  width: 0;
  max-height: 100%;
  min-height: 100vh;
  background: #ccc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

<<<<<<< HEAD
=======
#main {
  transition: margin-left .5s;
}
>>>>>>> dea167a40edad8fb3f0f641a6db263b9d87ef4a8
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 4px;}
}
article {
  margin: auto 0;
  float: left;
  padding: 20px 0px 10px 100px;
  height: 65%;
  height: 700px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  position: fixed;
  right: 0;bottom:0;left:0;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}